<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bidamcat.petjoa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetJoa"
        android:usesCleartextTraffic="true">
        <activity android:name=".maps.PlaceUrlActivity"></activity>

        <activity
            android:name=".itemactivitys.PetMissingItemActivity"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".itemactivitys.DogIFMItemActivity"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".itemactivitys.DogImgItemActivity"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".itemactivitys.CatIFMItemActivity"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".itemactivitys.CatImgItemActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".KakaoLoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".maps.AnimalHospitalMapActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".maps.AnimalHospitalListActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".JoinActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MissingPetMakeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.DogIFMMakeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.CatIFMMakeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.CatImgActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.CatIFMActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.CatImgMakeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.DogImgMakeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.DogIFMActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".pets.DogImgActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name=".IntroActivity"
            android:theme="@style/IntroActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao92f760492890fdc1e0e8166b4c2cfeb7" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFEP4ouvvWS-1_MOb1WiQNcalchUCfIi4" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="12119f459b2de77a7732c30734737df7" />
    </application>

</manifest>